<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SkillFactory NEWs</title>
        <style>
        body {background-color: {% if current_time.hour >= 17 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
    </style>

        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">NEWs PORTAL</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/">{% trans "ВСЕ НОВОСТИ И СТАТЬИ" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/search">{% trans "ПОИСК" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news/create">{% trans "Создание публикации" %}</a>
                         <li class="nav-item">
                          <li class="nav-item">
                            <a class="nav-link" href="/news/categories/1">{% trans "Подписка СПОРТ" %}</a>
                         <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/news/categories/2">{% trans "Подписка КУЛЬТУРА" %}</a>
                         <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/news/categories/3">{% trans "Подписка ГОРОД" %}</a>
                         <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/news/categories/4">{% trans "Подписка КИНО" %}</a>
                         <li class="nav-item">

                            {% if request.user.is_authenticated %}
                           <font color = "#cc0000">user:{{ request.user.username }}</font>
                                <a class="nav-link" href='http://127.0.0.1:8003/accounts/logout/'>{% trans "Выход" %}</a>
                            {% else %}
                                <a class="nav-link" href='http://127.0.0.1:8003/accounts/login'>{% trans "Вход" %}</a>
                                <a class="nav-link" href='http://127.0.0.1:8003/accounts/signup'>{% trans "Регистрация" %}</a>
                            {% endif %}
                         </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                     {% endblock content %}
                 </div>
             </div>
        </div>
    </body>
</html>
