{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load static %}
{% load my_tags %}
{% load my_filters %}
{% block title %}
NEWS&ARTICLE ({% trans "Новости и статьи" %})
{% endblock title %}

{% block content %}
<h1><font color="red">NEWS(NW) & ARTICLE(AR)</font></h1>
<h1>{% trans "Публикация" %}</h1>
<h3><i>{% current_time '%d %b %Y' %}</i></h3>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SkillFactory NEWs</title>
        <style>
        body {background-color: {% if current_time.hour >= 17 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
    </style>

        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
</head>
<body>
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go!">
    </form>

</body>
</html>

<hr>
    <table>
           <tr>
               <td><b>{% trans "Заголовок" %}</b></td>
               <td><b>{% trans "Текст" %}</b></td>
               <td><b>{% trans "Дата публикации" %}</b></td>
               <td><b>{% trans "Категория публикации" %}</b></td>
               {% if perms.newsandart.change_post or perms.newsandart.delete_post %}
                <td><b>{% trans "Действия" %}</b></td>
               {% endif %}
           </tr>

           <tr>
               <td valign="top"><u>{{ new.title|censor }}</u></td>
               <td><p align="justify">{{ new.text|censor }}</p></td>
               <td valign="top">{{ new.dateCreation|date:"d M Y" }}</td>
               <td valign="top">{{ new.get_categoryType_display }}</td>

               <td>
                    {% if perms.newsandart.change_post %}
                    <a href="{% url 'post_edit' pk=new.id %}">{% trans "Редактировать" %}</a>
                    {% endif %}
                    {% if perms.newsandart.delete_post %}
                    <a href="{% url 'post_delete' new.id %}">{% trans "Удалить" %}</a>
                    {% endif %}
               </td>

           </tr>


       </table>
{% endblock content %}
