{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load static %}
{% load my_tags %}
{% load my_filters %}
{% block title %}
NEWS&ARTICLE ({% trans "Новости и статьи" %})
{% endblock title %}

{% block content %}
<h1><font color="red">NEWS(NW) & ARTICLE(AR)</font></h1>
<h1>{% trans "Публикация" %}</h1>
<h3><i>{% current_time '%d %b %Y' %}</i></h3>
<hr>
    <table>
           <tr>
               <td><b>{% trans "Заголовок" %}</b></td>
               <td><b>{% trans "Текст" %}</b></td>
               <td><b>{% trans "Дата публикации" %}</b></td>
               <td><b>{% trans "Категория публикации" %}</b></td>
               {% if perms.newsandart.change_post or perms.newsandart.delete_post %}
                <td><b>{% trans "Действия" %}</b></td>
               {% endif %}
           </tr>

           <tr>
               <td valign="top"><u>{{ new.title|censor }}</u></td>
               <td><p align="justify">{{ new.text|censor }}</p></td>
               <td valign="top">{{ new.dateCreation|date:"d M Y" }}</td>
               <td valign="top">{{ new.get_categoryType_display }}</td>

               <td>
                    {% if perms.newsandart.change_post %}
                    <a href="{% url 'post_edit' pk=new.id %}">{% trans "Редактировать" %}</a>
                    {% endif %}
                    {% if perms.newsandart.delete_post %}
                    <a href="{% url 'post_delete' new.id %}">{% trans "Удалить" %}</a>
                    {% endif %}
               </td>

           </tr>


       </table>
{% endblock content %}
