{% extends 'flatpages/default.html' %}
{% load i18n %}
{% load static %}
{% load my_tags %}
{% load my_filters %}
{% block title %}
{% trans "Поиск публикаций" %}
{% endblock title %}

{% block content %}
<h1><font color="red">NEWS(NW) & ARTICLES(AR)</font></h1>
<h1>{% trans "Поиск публикаций" %}</h1>
<h6><i>{% current_time '%d %b %Y' %}</i></h6>
<h6><i>{% trans "Количество публикаций на текущей странице:" %} {{ search|length }}</i></h6>
<h6><i>{% trans "Всего публикаций:" %} {{ paginator.count }}</i></h6>
<h3> {{ next_post|default_if_none:"На данный момент, новостей больше нет" }} </h3>
<form action="" method="get">
    {{ filterset.form.non_field_errors }}
    {{ filterset.form.as_p }}
    <input type="submit" value="{% trans 'Найти' %}">
</form>
<form action="" method="get">
</form>

<html lang="en">

<body>
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go!">
    </form>

</body>
</html>

<hr>
{% load i18n %}
{% if search %}
       <table>
           <tr>
               <td><b>{% trans "Заголовок" %}</b></td>
               <td><b>{% trans "Текст" %}</b></td>
               <td><b>{% trans "Дата публикации" %}</b></td>
               <td><b>{% trans "Категория публикации" %}</b></td>
               {% if perms.newsandart.change_post or perms.newsandart.delete_post %}
                <td><b>{% trans "Действия" %}</b></td>
               {% endif %}
           </tr>

           {% for post in search %}
           <tr>
               <td><a href="{% url 'post_detail' pk=post.id %}">{{ post.title|censor }}</a></td>
               <td align="left">{{ post.text|censor|truncatechars:20 }}</td>
               <td>{{ post.dateCreation|date:"d M Y" }}</td>
               <td>{{ post.get_categoryType_display}}</td>

               <td>
                    {% if perms.newsandart.change_post %}
                    <a href="{% url 'post_edit' pk=post.id %}">{% trans "Редактировать" %}</a>
                    {% endif %}
                    {% if perms.newsandart.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">{% trans "Удалить" %}</a>
                    {% endif %}
               </td>

           </tr>
           {% endfor %}


       </table>
   {% else %}
       <h2>{% trans "Новостей нет!" %}</h2>
   {% endif %}

{% if page_obj.has_previous %}
       <a href="?page=1">{% trans "Начало" %}</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}


{% endblock content %}



